import os
import sys
import pandas as pd
from Bio.Seq import Seq
from collections import OrderedDict
import pandas as pd
import os
from msilib import sequence
from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqIO.FastaIO import SimpleFastaParser
import glob
import sys
import os